---
layout: frame
title: ": Supporters"
# icon: <i class="far fa-building"></i><i class="far fa-handshake"></i>
permalink: /sponsors/
---
<section class="page-header">
  <div class="container">
    <h1>{{ page.icon }}<h1>
    <h1>{{ page.title }}</h1>
    <p>행사를 열고 진행하는데 도움을 주신 분들입니다.</p>
  </div>
</section>
<div class="container" style="padding-top:32px; padding-bottom:32px;">
  <div class="row">
    {% for sponsor in site.sponsors %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/imgs/{{ sponsor.image }}" alt="{{ sponsor.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ sponsor.name }}</h5>
        <p class="card-text">{{ sponsor.desc }}</p>
        <a href="{{ sponsor.url }}" class="btn btn-primary">웹사이트 방문</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container" style="padding-top:32px; padding-bottom:32px;">
  <div class="row">
    {% for supporters in site.supporters %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/imgs/{{ supporters.image }}" alt="{{ supporters.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ supporters.name }}</h5>
        <p class="card-text">{{ supporters.desc }}</p>
        <a href="{{ supporters.url }}" class="btn btn-primary">웹사이트 방문</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container" style="padding-top:32px; padding-bottom:32px;">
  <div class="row">
    {% for host-a in site.host-a %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/imgs/{{ host-a.image }}" alt="{{ host-a.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ host-a.name }}</h5>
        <p class="card-text">{{ host-a.desc }}</p>
        <a href="{{ host-a.url }}" class="btn btn-primary">웹사이트 방문</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container" style="padding-top:32px; padding-bottom:32px;">
  <div class="row">
    {% for host-b in site.host-b %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/imgs/{{ host-b.image }}" alt="{{ host-b.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ host-b.name }}</h5>
        <p class="card-text">{{ host-b.desc }}</p>
        <a href="{{ host-b.url }}" class="btn btn-primary">웹사이트 방문</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container" style="padding-top:32px; padding-bottom:32px;">
  <div class="row">
    {% for host-c in site.host-c %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/imgs/{{ host-c.image }}" alt="{{ host-c.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ host-c.name }}</h5>
        <p class="card-text">{{ host-c.desc }}</p>
        <a href="{{ host-c.url }}" class="btn btn-primary">웹사이트 방문</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
