---
layout: page
title: "- Schedules"
icon: <i class="fas fa-calendar"></i>
permalink: /schedules/
---
<div class="alert alert-info" role="alert">
  (시간표는 준비중입니다.)
</div>

<!--
<div class="alert alert-info" role="alert">
  (발표 제목을 클릭하여 발표 자료 관련 내용을 확인하실 수 있습니다.)
</div>

<div style="overflow: auto;" align="center">
<div class="program">
    <table cellspacing="0" cellpadding="0" border="2">
      <colgroup>
        <col width="110px ">
        <col width="70%">
      </colgroup>
      <tbody>
        <tr>
          <th class="section">시간</th>
          <td class="section">행사 내용</td>
        </tr>
{% assign orders = site.sessions | group_by: order %}
{% for order in orders  %}
{% assign session = order.items[0] %}
        <tr>
          <th>{{ session.time }}</th>
          <td>
          {% if session.href == true %}
            {{ session.title }}
            {% else %}
            {{ session.title }}
            {{ session.href }}
          {% endif %}
            <span class="fontNameTitle">
            {% for speaker in session.speakers %}
              <li style="list-style-type: none;">{{ speaker.name }} - {{ speaker.org }}</li>
                <a class="btn btn-primary" href="{{ site.baseurl }}{{ session.url }}" role="button"> {{ include.label }} 세션 정보</a>
          
            {% endfor %}
            </span>
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
</div>
</div>
-->
