<section style="background:#E95420; padding-top:15px; padding-bottom:8px; color:#FFFFFF">
  <div class="container">
    <h2 style="padding-top:5px; padding-bottom:5px; text-align:center;">Co-host</h2>
    <div class="row">
      <div style="margin: auto; float:center; text-align:center; background:#FFFFFF">
        {% for host-b in site.host-b %}
        <a href="{{ host-b.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ host-b.image }}" alt="{{ host-b.name }}" style="height: 50px">
        </a>
        {% endfor %}
        {% for host-a in site.host-a %}
        <a href="{{ host-a.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ host-a.image }}" alt="{{ host-a.name }}" style="height: 50px">
        </a>
        {% endfor %}
        {% for host-c in site.host-c %}
        <a href="{{ host-c.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ host-c.image }}" alt="{{ host-c.name }}" style="height: 50px">
        </a>
        {% endfor %}
        {% for supporters in site.supporters %}
        <a href="{{ supporters.url }}">
          <img src="{{ site.baseurl }}/assets/imgs/{{ supporters.image }}" alt="{{ supporters.name }}" style="height: 50px">
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
