---
layout: frame
---
<div class="main-header">
  <h1>Ubuntu Fest</h1>
  <p>우분투와 딥러닝</p>
  <p style="font-size: 1.3em;">{{site.period}}</br>{{site.period-time}}</br>{{site.location}}</p>
  <a role="button" class="btn btn-primary btn-lg btn-primary"
  href="{{ site.baseurl }}/about/">
    <i class="fas fa-info-circle"></i> 자세히 보기</a>
  <a role="button" class="btn btn-primary btn-lg btn-primary"
  href="{{ site.registration-url }}">
    <i class="fas fa-ticket-alt"></i> 등록하기</a></br></br>
  <a role="button" class="btn btn-light btn-lg"
  href="https://goo.gl/forms/alNi6k0BHjEDvXu92">
    <i class="fas fa-bolt"></i> 라이트닝토크 신청하기</a>
</div>

{% include sponsors.html %}
